@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;

  /* Custom Palette */
  --google-blue: #2563EB;
  --google-green: #22C55E;
  --google-dark: #0F172A;
  --google-gray: #F8FAFC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-google-blue: var(--google-blue);
  --color-google-green: var(--google-green);
  --color-google-dark: var(--google-dark);
  --color-google-gray: var(--google-gray);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}